github "AndrewSB/Library" "HEAD"
github "ReactiveX/RxSwift" "3.0.0-beta.1"

github "Constantine-Fry/das-quadrat" "develop"

github "sunshinejr/RxPermission" "master"
github "inamiy/RxAutomaton" "swift/3.0"
